<!DOCTYPE html>
<html>

<head>
    <title>Test de Personalidad</title>
</head>

<body>
    <h1>Test de Personalidad</h1>
    <form method="POST" action="{{ url_for('resultado') }}">
        {% for pregunta in preguntas %}
        <p><strong>{{ pregunta.pregunta }}</strong></p>
        {% for respuesta, tipo in pregunta.respuestas.items() %}
        <input type="radio" name="pregunta_{{ loop.index0 }}" value="{{ respuesta }}" required>
        <label>{{ respuesta }}</label><br>
        {% endfor %}
        <br>
        {% endfor %}


        <!-- Datos del formulario anterior -->
        {% for key, value in datos_previos.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}

        <button type="submit">Ver resultado</button>
    </form>
</body>

</html>